.accordion {
  max-width: 350px;
  margin: 0 auto;
  padding: 0;

  @media #{$large} {
    margin-right: 0;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.6rem;
    line-height: 1;
    text-align: center;

    @media #{$large} {
      margin-bottom: 26px;
      text-align: left;
    }
  }

  &__item {
    border-bottom: 1px solid $dividersColor;
    padding: 16px 0 18px;
    list-style: none;
  }

  &__title {
    position: relative;
    padding-right: 20px;
    font-size: 1.1rem;
    cursor: pointer;
    list-style: none;
    transition: color 0.3s;

    @media #{$large} {
      padding-right: 30px;
      letter-spacing: 0.5px;
    }

    &:hover,
    &:active {
      color: $hoverTitleColor;
    }

    .accordion__item[open] & {
      font-weight: bold;
      color: $activeTitleColor;
    }

    &::after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%) rotateX(0);
      background-image: url("./../images/icon-arrow-down.svg");
      background-position: center;
      background-repeat: no-repeat;

      @media #{$large} {
        right: 15px;
      }

      .accordion__item[open] & {
        transform: translateY(-50%) rotateX(180deg);
      }
    }
  }

  &__content {
    margin-top: 12px;
    padding-right: 20px;
    line-height: 1.4;
    color: $accordionBodyTextColor;
  }
}
