@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  color: $primaryTextColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headerColor;
}
